/* @charset "UTF-8"; */

		/* --------------main style---------------- */
.article, .aside, .details, .figcaption, .figure, .footer, .header, .hgroup, .main, .nav, .section, .summary {
    display: block;
}

.site-header__logo a, .site-header__logo img {
    display: block;
}

.site-header__logo img {
    margin: 0 auto;
    width: 210px;
    height: 36px;
}

.body, .input, .textarea, .button, .select {
    font-size: 14px;
    line-height: 1.6;
    color: #333;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}

.site-header__logo a, .site-header__logo a:hover, .site-header__logo a:focus {
    text-decoration: none;
}

a:active, a:hover {
    outline: 0;
}
.header__cart {
    text-align: right;
}

*, *:after, *:before {
    box-sizing: inherit;
}

img {
    border: 0;
}

img, iframe {
    max-width: 100%;
}

*, input, :before, :after {
    box-sizing: border-box;
}

a:hover, a:focus {
    color: #b89365;
}

a:active, a:hover {
    outline: 0;
}

.header {
	border-color: #947044;
	background-color: #fff;
	max-width: 1500px;
}

body {
  display: flex;
  justify-content: center;
}

.header__top {
	display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding: 20px;
}

.header__nav {
    margin: 0;
    list-style: none;
    font-size: 11px;
    font-weight: 400;
}

.header__nav-top-level {
    margin: 0;
}

.header__nav-top-level-link {
    display: block;
    text-transform: uppercase;
    letter-spacing: 1.65px;
    position: relative;
}

a, .text-link {
    color: #8f6c42;
    text-decoration: none;
    background: transparent;
}

.header-nav__sub-nav {
	z-index: 6;

}

.header-nav__sub-nav-inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    padding: 22px 40px 34px;
    width: 100%;
}

.header-nav__sub-nav-links {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    width: 100%;
    grid-gap: 20px;
}

.header-nav__sub-nav-images {
    display: none;
}

.header-nav__column:empty {
    display: none;
}

.header-nav__column {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    grid-gap: 20px 0;
}

*:focus, *:active {
    -webkit-appearance: none;
    outline: none !important;
}

.header-nav__sub-nav-links p {
    text-transform: uppercase;
    letter-spacing: 1.65px;
    margin: 0;
    color: #707070;
    font-size: 8px;
}

.header__top {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding: 20px;
}

.header__hamburger {
    width: 20px;
    height: 12px;
    position: relative;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    cursor: pointer;
}

.header__cart {
    text-align: right;
}

.site-header__logo-link {
    margin: 0 auto;
}

#shopify-section-header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 6;
    font-family: Graphik Web;
}




	/* ------------------main media------------------ */
@media ( min-width : 500px) {
	.header {
		padding: 32px 62px 0;
		overflow: hidden;
	}
	.header__top {
    padding: 0;
}

.header__cart, .header__hamburger, .header__logo {
    -webkit-flex-basis: 33.3333%;
    flex-basis: 216px;
}

.header__cart, .header__hamburger {
    -webkit-flex-basis: 20px;
    flex-basis: 20px;
}

.header__hamburger {
    visibility: hidden;
}

.header__nav {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    margin-top: 32px;
    border-top: 0;
    -webkit-box-pack: center;
    justify-content: center;
    min-height: auto;
}

.header__nav-top-level {
    padding: 0 30px 24px;
    border-bottom: 0;
    position: static;
    cursor: pointer;
}

.header__nav-top-level-link {
    margin: 0;
    color: #4a4a4a;
}

.header-nav__sub-nav {
    display: -webkit-box;
	display: -webkit-flex;
    display: flex;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    padding: 42px 32px;
    background-color: hsla(40, 23%, 97%, .98);
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    webkit-transform: scaleY(0);
    transform: scaleY(0);
    opacity: 0;
    pointer-events: none;
}

.header-nav__sub-nav-inner {
    min-width: 640px;
    gap: 80px;
    padding: 0;
    width: auto;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.header-nav__sub-nav-links {
    grid-gap: 0 40px;
    width: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    flex-direction: row;
}

.header-nav__sub-nav-images {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    grid-gap: 70px;
}
	

.header-nav__sub-nav-images>a:hover p {
    font-weight: 500;
}

p {
    margin: 0 0 21.5px;
}

.header-nav__sub-nav-images p {
    margin: 14px 0 0;
    text-transform: uppercase;
    color: #333;
    font-size: 11px;
    letter-spacing: 1.65px;
    text-align: center;
}

.header__top {
    padding: 0;
}
}




			/*-------------------main  open------------------------ */

.header__nav--open {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}

.header__nav-top-level-link:focus, .header__nav-top-level-link:hover {
    color: #333;
    -webkit-tap-highlight-color: transparent;
}

.header__nav-top-level--open .header__nav-top-level-link:after {
    background-color: #947044;
}






		/* --------------------------media open------------------------- */
@media (min-width: 500px){
.header__nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    flex-direction: row;
    margin-top: 32px;
    border-top: 0;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    min-height: auto;
}

.header__nav--open .header-nav__sub-nav {
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
}

.header-nav__sub-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    padding: 42px 32px;
    background-color: hsla(40, 23%, 97%, .98);
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    opacity: 0;
    pointer-events: none;
}

.header__nav-top-level--open .header__nav-top-level-link {
    color: transparent;
}

.header__nav-top-level--open .header__nav-top-level-link:before {
    content: attr(data-name);
    position: absolute;
    left: 0;
    top: 0;
    font-weight: 500;
    color: #4a4a4a;
    white-space: nowrap;
}

.header__nav-top-level--open .header__nav-top-level-link:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -24px;
    left: 0;
}

.header__nav--open .header-nav__sub-nav {
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
}

.header__nav-top-level--open .header-nav__sub-nav {
    opacity: 1;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
    pointer-events: all;
}

.header__nav-top-level--open .header-nav__sub-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}

.header-nav__sub-nav-links p {
    font-size: 10px;
}

}